{% extends "template_base.html" %}
{% load bootstrap %}
{% block titulo %}
   Imob
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-1">
                 <h1>Imob</h1>
        </div>
        <div class="col-md-11">
            <h3>Gestão on-line de Imobiliárias</h3>
        </div>

    </div>

       <div class="row">
            <div class="col-md-8">
            <img src="{{STATIC_URL}}bootstrap/img/banner.jpg" style="border-radius: 10px;" width="100%">
            </div>
            {% if form %}
                <div class="col-md-4">
                    <br>
                    <form method="POST" action="." class="form-group">
                        {% csrf_token %}
                        {{form|bootstrap}}
                        <input type="submit" class="btn btn-primary"/>
                    </form>
                </div>
            {% else %}
            <div class="col-md-4">
                    <br>
                    <a href="{% url 'main_home' %}">
                        <button type="button" class="btn btn-primary">Acessar</button>
                    </a>
            </div>
            {% endif %}
       </div>
{% endblock %}

